<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>PotK Unit Database (WIP)</title>
</head>
<body>
<div class="container">
	<h1>
		PotK Unit Database <br/>
		<small class="text-muted"><i>(WIP: {{ total }} units)</i></small>
	</h1>
	<div id="unit-list" class="list-group">
		{% for unit in units %}
		<a id="unit-{{unit.ID}}" href="units/{{ unit.ID }}.html" class="list-group-item list-group-item-action">
			<img src="images/units/{{unit.resource_id}}/c_thum.png" style="zoom: 0.5;"/>
			<small class="badge badge-secondary">{{ unit.ID }}</small>
			{{ unit.any_name | title }} ({{ unit.element.name | title }}) {{ stars[unit.rarity] }}
		</a>
		{% endfor %}
	</div>
</div>
</body>
</html>
