<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>PotK Unit Database (WIP)</title>
	<meta property="og:title" content="Phantom of the Kill Fan Database"/>
	<meta property="og:description"
		  content="A fan-mantained database of playable units in the Phantom of the Kill Japanese Server. Still a WIP."/>
	<meta property="og:image" content="https://potk-fan-database.neocities.org/images/units/3101411/unit_hires.png">
	<meta property="og:image:width" content="600">
	<meta property="og:image:height" content="520">
</head>
<body>
<div class="container">
	<h1>
		PotK Unit Database <br/>
		<small class="text-muted"><i>(WIP: {{ total }} units)</i></small>
	</h1>
	<input style="margin-top:10px; margin-bottom:15px" type="text" class="form-control" id="myInput" onkeyup="searchUnit()" placeholder="Search for units" title="Enter a unit name">
	<div id="unit-list" class="list-group">
		{% for unit in units %}
		<a id="unit-{{unit.ID}}" href="units/{{ unit.ID }}.html" class="list-group-item list-group-item-action">
			<img src="images/units/{{unit.resource_id}}/c_thum.png" style="zoom: 0.5;"/>
			<small class="badge badge-secondary">{{ unit.ID }}</small>
			<span class="unit-name">{{ unit.any_name | title }} ({{ unit.element.name | title }})
			{{stars[unit.rarity] }}</span>
		</a>
		{% endfor %}
	</div>
</div>
<script>
function searchUnit() {
    var input, unit, unitattr, a, i;
    input = (document.getElementById("myInput")).value.toUpperCase();
    units = document.getElementById("unit-list");
    unitattr = units.getElementsByClassName("list-group-item");
    for (i = 0; i < unitattr.length; i++) {
        a = unitattr[i].getElementsByClassName("unit-name")[0];
        textval = a.textContent || a.innerText;
        if (textval.toUpperCase().indexOf(input) > -1) {
            unitattr[i].style.display = "";
        } else {
            unitattr[i].style.display = "none";
        }
    }
}
</script>
</body>
</html>
