{% macro unit_stats_tab_pane(prefix, unit, stats, has_cc) %}
<div id="{{prefix}}-{{unit.ID}}-stat-info">
	<ul class="nav nav-pills mb-3" role="tablist">
		{% for type in UnitType %}
		<li class="nav-item">
			<a class="nav-link{% if loop.first %} active{% endif %}"
			   role="tab"
			   data-unit-type="{{type.name | lower}}"
			   data-toggle="pill"
			   href="#{{prefix}}-{{unit.ID}}-tab-{{ type.name | lower }}">
				<h5>{{ type.name }}&nbsp;{{ jp_types[type] }}</h5>
			</a>
		</li>
		{% endfor %}
	</ul>
	<div class="tab-content">
		{% for type in UnitType %}
		<div class="tab-pane fade {% if loop.first %}show active{%endif%}"
			 id="{{prefix}}-{{unit.ID}}-tab-{{ type.name | lower }}"
			 role="tabpanel">
			<table class="table table-bordered table-hover table-condensed">
				<thead>
				<tr>
					<td>&nbsp;</td>
					<th scope="col" class="text-right">Max</th>
					<th scope="col" class="text-right">Base&nbsp;(Evo)</th>
					<th scope="col" class="text-right">Growth</th>
					<th scope="col" class="text-right">Fusion&nbsp;(UD)</th>
					{% if has_cc %}
					<th scope="col" class="text-right">CC&nbsp;Skill</th>
					{% endif %}
				</tr>
				</thead>
				<tbody>
				{% for stat in StatType %}
				<tr>
					{% set s = stats.of(type).of(stat) %}
					<th scope="row" class="text-right">
						{{ stat.name }}&nbsp;{{ jp_stats[stat] }}
					</th>
					<td class="text-right">{{ s.max }}</td>
					<td class="text-right">
						{{ s.initial + s.evo_bonus }}&nbsp;({{ s.evo_bonus }})
					</td>
					<td class="text-right">{{ s.growth }}</td>
					<td class="text-right">
						{{ s.compose + s.ud.max }}&nbsp;({{ s.ud.max }})
					</td>
					{% if has_cc %}
					<td class="text-right">{{ s.skill_master }}</td>
					{% endif %}
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% endfor %}
	</div>
</div>
{% endmacro %}

{% macro unit_link(unit, hidden, cd_root, small=False) %}
<a href="{{cd_root}}/units/{{unit.ID}}.html" {% if not small %} id="unit-{{unit.ID}}" data-unit-id="{{unit.ID}}" class="list-group-item list-group-item-action" style="{% if hidden %} display: none {% endif %}" {% endif %}>
	{% if not small -%}
	<img src="{{cd_root}}/images/units/{{unit.resource_id}}/c_thum.png" style="zoom: 0.5;"/>
	{%- endif %}
	{{unit.any_name | title}} {{unit.rarity.stars}}
	<small class="badge badge-secondary">{{ unit.ID }}</small>
	{% for tag in unit.tags %}
	<small class="badge {{badge_tag[tag.kind]}}">{{tag.desc.short_label_name}}</small>
	{% endfor %}
</a>
{% endmacro %}

{% macro unit_skill(skill, cd_root, type=None, req_dv=0, req_lv=0, need_cq=False, is_cc=False) %}
<div class="card">
	<div class="card-header font-weight-bold {% if req_lv %} bg-transparent {% endif %} ">
		<div class="row">
			<div class="col">
				{% if is_cc %}
				<img src="{{ cd_root }}/images/skills/ability.png" style="zoom: 0.75">
				{% elif skill_icons[skill.ID] %}
				<img src="{{ cd_root }}/images/skills/{{ skill_icons[skill.ID] }}.png" style="zoom: 0.75">
				{% endif %}
			</div>
			<div class="col p-0 text-center">
				{% if req_lv %}
				<small class="font-weight-bold">Evolves at Skill lv&nbsp;{{ req_lv }}</small> <br/>
				{% endif %}
				<span data-skill-field="name" data-skill-id="{{skill.ID}}">
					{{ skill.jp_desc.name }}
				</span>
				{% if req_dv %}
				<br/> <span class="badge badge-danger">Required DV: {{ req_dv }}</span>
				{% endif %}
			</div>
			<div class="col text-right">
				{%- if skill.max_lv -%}
				lv&nbsp;{{ skill.max_lv }}
				{%- endif -%}
			</div>
		</div>
	</div>
	<div class="card-body pt-3">
		<div class="row mb-3">
			<div class="col">
				{% if type %}
				<span class="badge badge-warning">
					{{ jp_types[type] }}&nbsp;{{ type.name }}
				</span>
				{% endif %}
				{% if need_cq %}
				<span class="badge badge-info">CQ</span>
				{% endif %}
				<span class="badge badge-secondary">{{ skill.type.name | title }}</span>
			</div>
			<div class="col text-right">
				{% for genre in skill.genres %}
				<span class="badge badge-primary">{{ genre.name | title }}</span>
				{% endfor %}
			</div>
		</div>
		<p class="card-text mb-0" data-skill-field="desc" data-skill-id="{{skill.ID}}">
			{{ skill.jp_desc.full }}
		</p>
		<dl class="skill-attribute-list">
			{% if skill.type.value == 5 %}{# Magic #}
			<dt>Element</dt>
			<dd>
				<span class="badge {{ badge_element[skill.element] }}">
					{{ skill.element.name | title }}
				</span>
			</dd>
			{% endif %}

			{% if skill.use_count %}
			<dt>Uses</dt>
			<dd>{{ skill.use_count }}</dd>
			{% endif %}

			{% if skill.cooldown_turns %}
			<dt>Cooldown</dt>
			<dd>{{ skill.cooldown_turns }} - (Skill Level - 1)</dd>
			{% endif %}

			{% if skill.max_use_per_quest %}
			<dt>Max Uses per Quest</dt>
			<dd>{{ skill.max_use_per_quest }}</dd>
			{% endif %}

			{% if skill.range %}
			<dt>Range</dt>
			<dd>{{ skill.range }}</dd>
			{% endif %}

			{% if skill.weight %}
			<dt>Weight</dt>
			<dd>{{ skill.weight }}</dd>
			{% endif %}

			{% if skill.power %}
			<dt>Power</dt>
			<dd>{{ skill.power }}</dd>
			{% endif %}

			{% if skill.hp_cost %}
			<dt>HP Cost</dt>
			<dd>{{ skill.hp_cost }}</dd>
			{% endif %}
		</dl>
	</div>
</div>
{% endmacro %}

{% macro about_text() %}
<p>
	This is a fan-made database of playable units in the
	<a href="https://pk.fg-games.co.jp">Phantom of the Kill Japanese Server</a>.
</p>
<p>
	Here you can see units stats, skills, and more. If you have any questions, suggestions, or want
	to report any errors,
	<a href="https://discord.gg/5JrCu3K" rel="noreferrer noopener" target="_blank">Join our Discord
		Server</a>.
</p>
{% endmacro %}

{% macro nav_bar(cd_root, active, sticky=True) %}
<nav id="top-nav-bar" class="{% if sticky %}sticky-top mb-3 {% endif %}navbar navbar-expand-lg navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand mr-0 mr-sm-3" href="{{cd_root}}/#">PotK Unit Database</a>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item {% if active == 'Main' %} active {% endif %}">
				<a class="nav-link" href="{{cd_root}}/#">Main</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Weapon
					Types</a>
				<div class="dropdown-menu">
					{% for weapon in weapons %}
					<a class="dropdown-item" href="{{cd_root}}/weapons/{{weapon.value}}.html">
						{{- weapon.name | title -}}
					</a>
					{% endfor %}
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Elements</a>
				<div class="dropdown-menu">
					{% for el in elements %}
					<a class="dropdown-item" href="{{cd_root}}/elements/{{el.value}}.html">
						{{- el.name | title -}}
					</a>
					{% endfor %}
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Skills</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{{cd_root}}/skills/overkillers.html">Overkillers</a>
					{% for c in SkillAwakeCategory %}
					<a class="dropdown-item" href="{{cd_root}}/skills/{{c.name | lower}}.html">{{category_desc[c]}}</a>
					{% endfor %}
				</div>
			</li>
		</ul>
	</div>
	<div id="toggle-lang" class="btn-group btn-group-toggle m-1" data-toggle="buttons" hidden>
		<label class="btn btn-secondary btn-sm active">
			<input type="radio" name="lang" id="lang-jp" checked> JP
		</label>
		<label class="btn btn-secondary btn-sm">
			<input type="radio" name="lang" id="lang-en" disabled> EN
		</label>
	</div>
	<div class="mt-2 mt-sm-0">
		<a href="https://discord.gg/5JrCu3K" rel="noreferrer noopener" target="_blank">
			<small class="d-none d-lg-inline">Join our Discord</small>
			<img height="35" src="{{cd_root}}/images/etc/discord-logo.svg">
		</a>
	</div>
</nav>
{% endmacro %}
