{% macro unit_stats_tab_pane(prefix, stats, has_cc) %}
<div id="{{prefix}}-stat-info">
	<ul class="nav nav-pills mb-3" role="tablist">
		{% for type in UnitType %}
		<li class="nav-item">
			<a class="nav-link{% if loop.first %} active{% endif %}"
			   role="tab"
			   data-toggle="pill"
			   href="#{{prefix}}-tab-{{ type.name | lower }}">
				<h5>{{ type.name }}&nbsp;{{ jp_types[type] }}</h5>
			</a>
		</li>
		{% endfor %}
	</ul>
	<div class="tab-content">
		{% for type in UnitType %}
		<div class="tab-pane fade {% if loop.first %}show active{%endif%}"
			 id="{{prefix}}-tab-{{ type.name | lower }}"
			 role="tabpanel">
			<table class="table table-bordered table-hover table-condensed">
				<thead>
				<tr>
					<td>&nbsp;</td>
					<th scope="col" class="text-right">Max</th>
					<th scope="col" class="text-right">Base&nbsp;(Evo)</th>
					<th scope="col" class="text-right">Growth</th>
					<th scope="col" class="text-right">Fusion&nbsp;(UD)</th>
					{% if has_cc %}
					<th scope="col" class="text-right">CC&nbsp;Skill</th>
					{% endif %}
				</tr>
				</thead>
				<tbody>
				{% for stat in StatType %}
				<tr>
					{% set s = stats.of(type).of(stat) %}
					<th scope="row" class="text-right">
						{{ stat.name }}&nbsp;{{ jp_stats[stat] }}
					</th>
					<td class="text-right">{{ s.max }}</td>
					<td class="text-right">
						{{ s.initial + s.evo_bonus }}&nbsp;({{ s.evo_bonus }})
					</td>
					<td class="text-right">{{ s.growth }}</td>
					<td class="text-right">
						{{ s.compose + s.ud.max }}&nbsp;({{ s.ud.max }})
					</td>
					{% if has_cc %}
					<td class="text-right">{{ s.skill_master }}</td>
					{% endif %}
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% endfor %}
	</div>
</div>
{% endmacro %}

{% macro unit_link(unit, hidden, cd_root) %}
<a id="unit-{{unit.ID}}" href="{{cd_root}}/units/{{unit.ID}}.html" data-unit-name="{{unit.any_name}} ({{unit.element.name}})" class="list-group-item list-group-item-action" style="{% if hidden %} display: none {% endif %}">
	<img src="{{cd_root}}/images/units/{{unit.resource_id}}/c_thum.png" style="zoom: 0.5;"/>
	{{unit.any_name | title}} {{unit.rarity.stars}}
	<small class="badge badge-secondary">{{ unit.ID }}</small>
	{% for tag in unit.tags %}
	<small class="badge {{badge_tag[tag.kind]}}">{{tag.desc.short_label_name}}</small>
	{% endfor %}
</a>
{% endmacro %}
