<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Overkiller Skills List - PotK Unit Database</title>
	<meta property="og:title" content="Overkiller Skills List - PotK Unit Database"/>
	<meta property="og:description" content="Browse all available Overkiller Skills, ordered by unit"/>
</head>
<body>
{% import 'macros.html' as macros with context %}
<div class="container">
	{{- macros.nav_bar(cd_root='..', active='') -}}
	<h1>Overkiller Skills</h1>
	{% for name, units in unit_groups %}
	<h2>{{ name | title }}</h2>
	<table class="table table-bordered">
		<tbody>
		{% for unit in units %}
		{% set ovk = unit.skills.ovk %}
		<tr>
			<td rowspan="2">
				<a href="{{cd_root}}/units/{{unit.ID}}.html">
					<small class="badge badge-secondary">{{ unit.ID }}</small>
					<br/>
					<img src="{{cd_root}}/images/units/{{unit.resource_id}}/c_thum.png" style="zoom: 0.5;"/>
					<br/>
					{{ unit.any_name | title }}
				</a>
			</td>
			<th class="bg-light text-dark">
				<img src="{{ cd_root }}/images/skills/{{ skill_icons[ovk.skill.ID] }}.png" style="zoom: 0.75">
				{{ ovk.skill.jp_desc.name }}
			</th>
			<th class="bg-light text-dark">
				DV
			</th>
		</tr>
		<tr>
			<td>{{ ovk.skill.jp_desc.full }}</td>
			<td>{{ ovk.req_dv }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	{% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
