<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>{{ tag.desc.name }} - PotK Unit Database</title>
	<meta property="og:title" content="{{ tag.desc.name }} - PotK Unit Database"/>
	<meta property="og:description" content="Browse all {{ total }} {{ tag.desc.name }} units"/>
</head>
<body>
{% import 'macros.html' as macros with context %}
<div class="container">
	{{ macros.nav_bar(cd_root='..', active='') }}
	<h1>
		{{ tag.desc.name }}<br/>
		<small class="text-muted">{{ tag.desc.short_label_name }}</small><br/>
		<small class="text-muted">{{ total }} units</small>
	</h1>
	<dl class="row">
		<dt class="col-sm-3">Description</dt>
		<dd class="col-sm-9">{{ tag.desc.description }}</dd>
		{% if tag.desc_en %}
		<dt class="col-sm-3">Japanese Name</dt>
		<dd class="col-sm-9">{{ tag.desc_jp.name }} ({{ tag.desc_jp.short_label_name }})</dd>
		<dt class="col-sm-3">Japanese Description</dt>
		<dd class="col-sm-9">{{ tag.desc_jp.description }})</dd>
		{% endif %}
	</dl>
	<div id="unit-list" class="list-group">
		{% for unit in units %}
		{{- macros.unit_link(unit, hidden=False, cd_root='..') -}}
		{% endfor %}
	</div>
</div>
</body>
</html>
