<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>{{ unit.eng_name | title }}</title>
</head>
<body>
<div class="container">
	<div class="breadcrumb">
		<a class="breadcrumb-link" href="..">Main</a>
		<span class="breadcrumb-gt">&gt;</span>
		<span class="breadcrumb-child">{{ unit.eng_name | title }}</span>
	</div>
	<h1>
		{{ unit.eng_name | title }} <small>{{ stars[unit.rarity] }}</small><br/>
		<small class="text-muted">{{ unit.jp_name }}</small>
	</h1>
	<div id="unit-info">
		<img class="img-responsive"
			 src="../images/units/{{unit.resource_id}}/unit_hires.png"/>
		<h2>Unit Information</h2>
		<dl class="row">
			<dt class="col-sm-3">Element</dt>
			<dd class="col-sm-9">{{ unit.element.name | title }}</dd>
			<dt class="col-sm-3">Weapon Type</dt>
			<dd class="col-sm-9">{{ unit.gear_kind.name | title }}</dd>
			<dt class="col-sm-3">Rarity</dt>
			<dd class="col-sm-9">{{ stars[unit.rarity] }}</dd>
			<dt class="col-sm-3">Cost</dt>
			<dd class="col-sm-9">{{ unit.cost }}</dd>
			<dt class="col-sm-3">Level</dt>
			<dd class="col-sm-9">{{ unit.level.ini }} - {{ unit.level.max }}
			</dd>
			<dt class="col-sm-3">Job</dt>
			<dd class="col-sm-9">{{ unit.job.name }}</dd>
			<dt class="col-sm-3">Movement</dt>
			<dd class="col-sm-9">{{ unit.job.movement }}</dd>
		</dl>
	</div>
	<div id="stats-caps">
		<h2>Stats Caps</h2>
		{% for type in UnitType %}
		<h3>{{ type.name }}</h3>
		<table class="table table-bordered table-hover table-condensed">
			<thead>
			<tr>
				<td>&nbsp;</td>
				<th scope="col" class="text-right">Max</th>
				<th scope="col" class="text-right">Base(Evo)</th>
				<th scope="col" class="text-right">Growth</th>
				<th scope="col" class="text-right">Fusion(UD)</th>
			</tr>
			</thead>
			<tbody>
			{% for stat in StatType %}
			<tr>
				{% set s = unit.stats.of(type).of(stat) %}
				<th scope="row" class="text-right">{{ stat.name }}</th>
				<td class="text-right">{{ s.max }}</td>
				<td class="text-right">
					{{ s.initial + s.evo_bonus }}({{ s.evo_bonus }})
				</td>
				<td class="text-right">{{ s.growth }}</td>
				<td class="text-right">{{ s.compose + s.ud }}({{ s.ud }})</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		{% endfor %}
	</div>
</div>
</body>
</html>
